@page
@model ProgrammingExperienceJobsApp.Pages.JobPosts.IndexModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Job Posts</h2>
        </div>
        <div class="col-6 text-end">
            
        </div>
    </div>

    <table class="table table-bordered table-stripped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Job Title
                </th>
                <th>
                    Job Description
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.JobPosts)
            {
                <tr>
                    <td width="50%">
                        @item.Title
                    </td>
                    <td width="50%">
                        @item.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
