@page
@model ProgrammingExperienceJobsApp.Pages.JobPosts.IndexModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Job Posts</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="create" class="btn btn-primary">
                Create New Job Post
            </a>
        </div>
    </div>

    <table class="table table-bordered table-stripped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Job Title
                </th>
                <th>
                    Job Description
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var jobPost in Model.JobPosts)
            {
                <tr>
                    <td>
                        <a asp-page="View" asp-route-id="@jobPost.Id">
                            @jobPost.Title
                            @jobPost.Description
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
