@page
@model ProgrammingExperienceJobsApp.Pages.JobPosts.IndexModel

<div class="container">
    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-primary">Job Posts</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="create" class="btn btn-primary">
                Create New Job Post
            </a>
        </div>
    </div>

    @foreach (var jobPost in Model.JobPosts)
    {
        <div class="card mb-3">
            <a asp-page="View" asp-route-id="@jobPost.Id">
                <div class="card-body">
                    <h4 class="card-title">@jobPost.Title</h4>
                    <p class="card-text">@jobPost.Description</p>
                </div>
            </a>
        </div>
    }
</div>
