@page "{Id}"
@model ProgrammingExperienceJobsApp.Pages.JobPosts.ViewModel

<div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title">@Model.JobPost.Title</h4>
        <p class="card-text">@Model.JobPost.Description</p>
    </div>
</div>
